PORT=4000
DB_URL=mongodb://localhost:27017/exam_dashboard
SECRET_KEY=your_secret_key_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
